<div class='jumbotron center'>
	<h1>My website is under construction!</h1>
	<% if user_signed_in? %>
		Thanks for signing up :)
	<% else %>
		<p>
				<%= link_to "Login", new_user_session_path, class: "btn btn-primary"%> or <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary"%>.
		</p>
	<% end %>
</div>